{% block header %}
    <header class="adminbody">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Panel sterowania </h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">
                        Zarządaj stroną</h2>
                    <a class="btn btn-primary" href="{{ path('method_index') }}">Metody fizjoterapii</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}